<h1>
    This is new - Product Listing Page
</h1>

<a href={~p"/?#{[console: "xbox", admin: true]}"}>Go back to home page</a>

<p :if={@promo} >This is my promo code <%= @promo %> </p>

<p>This is the full url: <%= url(~p"/products") %></p>
